In [1]:
import pandas as pd 
import numpy as np

# metro median price df

In [60]:
df1 = pd.read_csv('./metro_median_price.csv')

In [61]:
df1

,RegionID,SizeRank,RegionName,RegionType,StateName,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,...,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31
0,102001,0,United States,country,NaN,263267.0,271267.0,276633.0,280000.0,280300.0,...,371900.0,371900.0,374833.0,383107.0,391107.0,397607.0,399167.0,397833.0,396333.0,393300.0
1,394913,1,"New York, NY",msa,NY,503000.0,513000.0,521300.0,526300.0,528300.0,...,619333.0,624667.0,634967.0,647967.0,662633.0,672333.0,679000.0,676000.0,679333.0,684667.0
2,753899,2,"Los Angeles, CA",msa,CA,721333.0,735000.0,743333.0,750000.0,749667.0,...,882633.0,885967.0,892967.0,916000.0,942667.0,975333.0,992300.0,998967.0,999633.0,999629.0
3,394463,3,"Chicago, IL",msa,IL,284600.0,294600.0,300600.0,302267.0,301967.0,...,299300.0,302167.0,308833.0,319133.0,329500.0,336500.0,339867.0,339967.0,339633.0,336300.0
4,394514,4,"Dallas, TX",msa,TX,322997.0,328497.0,331797.0,332800.0,329502.0,...,398000.0,396667.0,400150.0,411813.0,426480.0,438330.0,441667.0,440000.0,435000.0,430000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,753929,935,"Zapata, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,153567.0,148000.0,146833.0,147467.0,149633.0,147383.0,147250.0,147250.0,150667.0,146750.0
924,394743,936,"Ketchikan, AK",msa,AK,284500.0,286733.0,297900.0,311567.0,324167.0,...,415417.0,397833.0,406333.0,422000.0,442667.0,435667.0,419167.0,405833.0,394500.0,386333.0
925,753874,937,"Craig, CO",msa,CO,192833.0,194983.0,195617.0,197183.0,195733.0,...,374933.0,371617.0,355817.0,337483.0,337167.0,356333.0,359633.0,359100.0,343250.0,328283.0
926,395188,938,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,100522.0,95908.0,94241.0,100075.0,102772.0,104417.0,99417.0,101333.0,107417.0,117500.0
927,394767,939,"Lamesa, TX",msa,TX,96800.0,103467.0,108450.0,114650.0,119567.0,...,156167.0,154500.0,161000.0,159667.0,173333.0,178333.0,180667.0,175667.0,179000.0,181667.0

In [62]:
df1.columns = df1.columns.str.replace('-','_')

In [63]:
df1.columns[5:]

Index(['2018_03_31', '2018_04_30', '2018_05_31', '2018_06_30', '2018_07_31',
       '2018_08_31', '2018_09_30', '2018_10_31', '2018_11_30', '2018_12_31',
       '2019_01_31', '2019_02_28', '2019_03_31', '2019_04_30', '2019_05_31',
       '2019_06_30', '2019_07_31', '2019_08_31', '2019_09_30', '2019_10_31',
       '2019_11_30', '2019_12_31', '2020_01_31', '2020_02_29', '2020_03_31',
       '2020_04_30', '2020_05_31', '2020_06_30', '2020_07_31', '2020_08_31',
       '2020_09_30', '2020_10_31', '2020_11_30', '2020_12_31', '2021_01_31',
       '2021_02_28', '2021_03_31', '2021_04_30', '2021_05_31', '2021_06_30',
       '2021_07_31', '2021_08_31', '2021_09_30', '2021_10_31', '2021_11_30',
       '2021_12_31', '2022_01_31', '2022_02_28', '2022_03_31', '2022_04_30',
       '2022_05_31', '2022_06_30', '2022_07_31', '2022_08_31', '2022_09_30',
       '2022_10_31', '2022_11_30', '2022_12_31', '2023_01_31', '2023_02_28',
       '2023_03_31', '2023_04_30', '2023_05_31', '2023_06_30', '2023_07_31',
       '2023_08_31', '2023_09_30', '2023_10_31'],
      dtype='object')

In [64]:
df1.columns = ['date_'+str(col) 
                if col in df1.columns[5:] 
                else col for col in df1.columns]

In [65]:
df1

,RegionID,SizeRank,RegionName,RegionType,StateName,date_2018_03_31,date_2018_04_30,date_2018_05_31,date_2018_06_30,date_2018_07_31,...,date_2023_01_31,date_2023_02_28,date_2023_03_31,date_2023_04_30,date_2023_05_31,date_2023_06_30,date_2023_07_31,date_2023_08_31,date_2023_09_30,date_2023_10_31
0,102001,0,United States,country,NaN,263267.0,271267.0,276633.0,280000.0,280300.0,...,371900.0,371900.0,374833.0,383107.0,391107.0,397607.0,399167.0,397833.0,396333.0,393300.0
1,394913,1,"New York, NY",msa,NY,503000.0,513000.0,521300.0,526300.0,528300.0,...,619333.0,624667.0,634967.0,647967.0,662633.0,672333.0,679000.0,676000.0,679333.0,684667.0
2,753899,2,"Los Angeles, CA",msa,CA,721333.0,735000.0,743333.0,750000.0,749667.0,...,882633.0,885967.0,892967.0,916000.0,942667.0,975333.0,992300.0,998967.0,999633.0,999629.0
3,394463,3,"Chicago, IL",msa,IL,284600.0,294600.0,300600.0,302267.0,301967.0,...,299300.0,302167.0,308833.0,319133.0,329500.0,336500.0,339867.0,339967.0,339633.0,336300.0
4,394514,4,"Dallas, TX",msa,TX,322997.0,328497.0,331797.0,332800.0,329502.0,...,398000.0,396667.0,400150.0,411813.0,426480.0,438330.0,441667.0,440000.0,435000.0,430000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,753929,935,"Zapata, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,153567.0,148000.0,146833.0,147467.0,149633.0,147383.0,147250.0,147250.0,150667.0,146750.0
924,394743,936,"Ketchikan, AK",msa,AK,284500.0,286733.0,297900.0,311567.0,324167.0,...,415417.0,397833.0,406333.0,422000.0,442667.0,435667.0,419167.0,405833.0,394500.0,386333.0
925,753874,937,"Craig, CO",msa,CO,192833.0,194983.0,195617.0,197183.0,195733.0,...,374933.0,371617.0,355817.0,337483.0,337167.0,356333.0,359633.0,359100.0,343250.0,328283.0
926,395188,938,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,100522.0,95908.0,94241.0,100075.0,102772.0,104417.0,99417.0,101333.0,107417.0,117500.0
927,394767,939,"Lamesa, TX",msa,TX,96800.0,103467.0,108450.0,114650.0,119567.0,...,156167.0,154500.0,161000.0,159667.0,173333.0,178333.0,180667.0,175667.0,179000.0,181667.0

In [110]:
columns = [] 
for i in df1.columns:
    print(i+',')
    columns.append(i)

RegionID,
SizeRank,
RegionName,
RegionType,
StateName,
date_2018_03_31,
date_2018_04_30,
date_2018_05_31,
date_2018_06_30,
date_2018_07_31,
date_2018_08_31,
date_2018_09_30,
date_2018_10_31,
date_2018_11_30,
date_2018_12_31,
date_2019_01_31,
date_2019_02_28,
date_2019_03_31,
date_2019_04_30,
date_2019_05_31,
date_2019_06_30,
date_2019_07_31,
date_2019_08_31,
date_2019_09_30,
date_2019_10_31,
date_2019_11_30,
date_2019_12_31,
date_2020_01_31,
date_2020_02_29,
date_2020_03_31,
date_2020_04_30,
date_2020_05_31,
date_2020_06_30,
date_2020_07_31,
date_2020_08_31,
date_2020_09_30,
date_2020_10_31,
date_2020_11_30,
date_2020_12_31,
date_2021_01_31,
date_2021_02_28,
date_2021_03_31,
date_2021_04_30,
date_2021_05_31,
date_2021_06_30,
date_2021_07_31,
date_2021_08_31,
date_2021_09_30,
date_2021_10_31,
date_2021_11_30,
date_2021_12_31,
date_2022_01_31,
date_2022_02_28,
date_2022_03_31,
date_2022_04_30,
date_2022_05_31,
date_2022_06_30,
date_2022_07_31,
date_2022_08_31,
date_2022_09_30,
date_2022_10_31,
date_2022_11_30,
date_2022_12_31,
date_2023_01_31,
date_2023_02_28,
date_2023_03_31,
date_2023_04_30,
date_2023_05_31,
date_2023_06_30,
date_2023_07_31,
date_2023_08_31,
date_2023_09_30,
date_2023_10_31,

In [111]:
columns

['RegionID',
 'SizeRank',
 'RegionName',
 'RegionType',
 'StateName',
 'date_2018_03_31',
 'date_2018_04_30',
 'date_2018_05_31',
 'date_2018_06_30',
 'date_2018_07_31',
 'date_2018_08_31',
 'date_2018_09_30',
 'date_2018_10_31',
 'date_2018_11_30',
 'date_2018_12_31',
 'date_2019_01_31',
 'date_2019_02_28',
 'date_2019_03_31',
 'date_2019_04_30',
 'date_2019_05_31',
 'date_2019_06_30',
 'date_2019_07_31',
 'date_2019_08_31',
 'date_2019_09_30',
 'date_2019_10_31',
 'date_2019_11_30',
 'date_2019_12_31',
 'date_2020_01_31',
 'date_2020_02_29',
 'date_2020_03_31',
 'date_2020_04_30',
 'date_2020_05_31',
 'date_2020_06_30',
 'date_2020_07_31',
 'date_2020_08_31',
 'date_2020_09_30',
 'date_2020_10_31',
 'date_2020_11_30',
 'date_2020_12_31',
 'date_2021_01_31',
 'date_2021_02_28',
 'date_2021_03_31',
 'date_2021_04_30',
 'date_2021_05_31',
 'date_2021_06_30',
 'date_2021_07_31',
 'date_2021_08_31',
 'date_2021_09_30',
 'date_2021_10_31',
 'date_2021_11_30',
 'date_2021_12_31',
 'date_2022_01_31',
 'date_2022_02_28',
 'date_2022_03_31',
 'date_2022_04_30',
 'date_2022_05_31',
 'date_2022_06_30',
 'date_2022_07_31',
 'date_2022_08_31',
 'date_2022_09_30',
 'date_2022_10_31',
 'date_2022_11_30',
 'date_2022_12_31',
 'date_2023_01_31',
 'date_2023_02_28',
 'date_2023_03_31',
 'date_2023_04_30',
 'date_2023_05_31',
 'date_2023_06_30',
 'date_2023_07_31',
 'date_2023_08_31',
 'date_2023_09_30',
 'date_2023_10_31']

In [50]:
# df1 = df1.add_prefix('date_')

In [70]:
df1.to_csv('./metro_median_price_tranformed.csv')

# metro median sale df

In [71]:
df2 = pd.read_csv('./metro_median_sale.csv')

In [72]:
df2

,RegionID,SizeRank,RegionName,RegionType,StateName,2008-04-30,2008-05-31,2008-06-30,2008-07-31,2008-08-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,102001,0,United States,country,NaN,179808.5,180500.0,183700.0,185700.0,182450.0,...,307500.0,303000.0,308000.0,320000.0,330000.0,340000.0,347500.0,350000.0,348450.0,342450.0
1,394913,1,"New York, NY",msa,NY,392500.0,395000.0,397500.0,405000.0,412000.0,...,510000.0,510000.0,507500.0,502281.0,522281.0,545000.0,562320.0,579320.0,592000.0,590000.0
2,753899,2,"Los Angeles, CA",msa,CA,460000.0,452500.0,440000.0,427500.0,410000.0,...,813125.0,803125.0,815000.0,834250.0,846750.0,852500.0,870000.0,890000.0,893750.0,891250.0
3,394463,3,"Chicago, IL",msa,IL,229000.0,231500.0,238250.0,242250.0,240500.0,...,265000.0,260000.0,261500.0,274000.0,290500.0,302000.0,315250.0,318750.0,312500.0,305000.0
4,394514,4,"Dallas, TX",msa,TX,146000.0,148114.0,153614.0,155500.0,152500.0,...,363372.0,355750.0,358500.0,367730.0,376102.5,385872.5,393500.0,394662.5,390320.5,384158.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
781,786257,914,"Fairmont, MN",msa,MN,NaN,NaN,NaN,NaN,NaN,...,127875.0,115500.0,119250.0,133750.0,133750.0,153750.0,170000.0,162450.0,141450.0,180250.0
782,394805,916,"Los Alamos, NM",msa,NM,NaN,NaN,NaN,NaN,NaN,...,459765.5,499332.5,574417.0,560350.0,533250.0,598485.5,568719.0,490724.0,522567.5,568631.5
783,395112,922,"Spirit Lake, IA",msa,IA,NaN,NaN,NaN,NaN,NaN,...,246625.0,295625.0,334250.0,244250.0,269250.0,361750.0,409375.0,376875.0,387500.0,448750.0
784,395111,928,"Spencer, IA",msa,IA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,197850.0,162725.0,159875.0,157564.0,150313.5,166000.0,190250.0
785,753874,937,"Craig, CO",msa,CO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,226587.5,257350.0,247350.0,264950.0,298950.0,289000.0,287500.0

In [73]:
df2.columns = df2.columns.str.replace('-','_')

In [76]:
df2.columns[5:]

Index(['2008_04_30', '2008_05_31', '2008_06_30', '2008_07_31', '2008_08_31',
       '2008_09_30', '2008_10_31', '2008_11_30', '2008_12_31', '2009_01_31',
       ...
       '2022_12_31', '2023_01_31', '2023_02_28', '2023_03_31', '2023_04_30',
       '2023_05_31', '2023_06_30', '2023_07_31', '2023_08_31', '2023_09_30'],
      dtype='object', length=186)

In [77]:
df2.columns = ['date_'+str(col) 
                if col in df2.columns[5:] 
                else col for col in df2.columns]

In [78]:
df2

,RegionID,SizeRank,RegionName,RegionType,StateName,date_2008_04_30,date_2008_05_31,date_2008_06_30,date_2008_07_31,date_2008_08_31,...,date_2022_12_31,date_2023_01_31,date_2023_02_28,date_2023_03_31,date_2023_04_30,date_2023_05_31,date_2023_06_30,date_2023_07_31,date_2023_08_31,date_2023_09_30
0,102001,0,United States,country,NaN,179808.5,180500.0,183700.0,185700.0,182450.0,...,307500.0,303000.0,308000.0,320000.0,330000.0,340000.0,347500.0,350000.0,348450.0,342450.0
1,394913,1,"New York, NY",msa,NY,392500.0,395000.0,397500.0,405000.0,412000.0,...,510000.0,510000.0,507500.0,502281.0,522281.0,545000.0,562320.0,579320.0,592000.0,590000.0
2,753899,2,"Los Angeles, CA",msa,CA,460000.0,452500.0,440000.0,427500.0,410000.0,...,813125.0,803125.0,815000.0,834250.0,846750.0,852500.0,870000.0,890000.0,893750.0,891250.0
3,394463,3,"Chicago, IL",msa,IL,229000.0,231500.0,238250.0,242250.0,240500.0,...,265000.0,260000.0,261500.0,274000.0,290500.0,302000.0,315250.0,318750.0,312500.0,305000.0
4,394514,4,"Dallas, TX",msa,TX,146000.0,148114.0,153614.0,155500.0,152500.0,...,363372.0,355750.0,358500.0,367730.0,376102.5,385872.5,393500.0,394662.5,390320.5,384158.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
781,786257,914,"Fairmont, MN",msa,MN,NaN,NaN,NaN,NaN,NaN,...,127875.0,115500.0,119250.0,133750.0,133750.0,153750.0,170000.0,162450.0,141450.0,180250.0
782,394805,916,"Los Alamos, NM",msa,NM,NaN,NaN,NaN,NaN,NaN,...,459765.5,499332.5,574417.0,560350.0,533250.0,598485.5,568719.0,490724.0,522567.5,568631.5
783,395112,922,"Spirit Lake, IA",msa,IA,NaN,NaN,NaN,NaN,NaN,...,246625.0,295625.0,334250.0,244250.0,269250.0,361750.0,409375.0,376875.0,387500.0,448750.0
784,395111,928,"Spencer, IA",msa,IA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,197850.0,162725.0,159875.0,157564.0,150313.5,166000.0,190250.0
785,753874,937,"Craig, CO",msa,CO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,226587.5,257350.0,247350.0,264950.0,298950.0,289000.0,287500.0

In [82]:
columns[:-1]

['RegionID',
 'SizeRank',
 'RegionName',
 'RegionType',
 'StateName',
 'date_2018_03_31',
 'date_2018_04_30',
 'date_2018_05_31',
 'date_2018_06_30',
 'date_2018_07_31',
 'date_2018_08_31',
 'date_2018_09_30',
 'date_2018_10_31',
 'date_2018_11_30',
 'date_2018_12_31',
 'date_2019_01_31',
 'date_2019_02_28',
 'date_2019_03_31',
 'date_2019_04_30',
 'date_2019_05_31',
 'date_2019_06_30',
 'date_2019_07_31',
 'date_2019_08_31',
 'date_2019_09_30',
 'date_2019_10_31',
 'date_2019_11_30',
 'date_2019_12_31',
 'date_2020_01_31',
 'date_2020_02_29',
 'date_2020_03_31',
 'date_2020_04_30',
 'date_2020_05_31',
 'date_2020_06_30',
 'date_2020_07_31',
 'date_2020_08_31',
 'date_2020_09_30',
 'date_2020_10_31',
 'date_2020_11_30',
 'date_2020_12_31',
 'date_2021_01_31',
 'date_2021_02_28',
 'date_2021_03_31',
 'date_2021_04_30',
 'date_2021_05_31',
 'date_2021_06_30',
 'date_2021_07_31',
 'date_2021_08_31',
 'date_2021_09_30',
 'date_2021_10_31',
 'date_2021_11_30',
 'date_2021_12_31',
 'date_2022_01_31',
 'date_2022_02_28',
 'date_2022_03_31',
 'date_2022_04_30',
 'date_2022_05_31',
 'date_2022_06_30',
 'date_2022_07_31',
 'date_2022_08_31',
 'date_2022_09_30',
 'date_2022_10_31',
 'date_2022_11_30',
 'date_2022_12_31',
 'date_2023_01_31',
 'date_2023_02_28',
 'date_2023_03_31',
 'date_2023_04_30',
 'date_2023_05_31',
 'date_2023_06_30',
 'date_2023_07_31',
 'date_2023_08_31',
 'date_2023_09_30']

In [84]:
df2 = df2[columns[:-1]]

In [85]:
df2

,RegionID,SizeRank,RegionName,RegionType,StateName,date_2018_03_31,date_2018_04_30,date_2018_05_31,date_2018_06_30,date_2018_07_31,...,date_2022_12_31,date_2023_01_31,date_2023_02_28,date_2023_03_31,date_2023_04_30,date_2023_05_31,date_2023_06_30,date_2023_07_31,date_2023_08_31,date_2023_09_30
0,102001,0,United States,country,NaN,222000.0,226950.0,230700.0,236250.0,237500.0,...,307500.0,303000.0,308000.0,320000.0,330000.0,340000.0,347500.0,350000.0,348450.0,342450.0
1,394913,1,"New York, NY",msa,NY,374500.0,380000.0,385500.0,400500.0,412500.0,...,510000.0,510000.0,507500.0,502281.0,522281.0,545000.0,562320.0,579320.0,592000.0,590000.0
2,753899,2,"Los Angeles, CA",msa,CA,617500.0,622500.0,632500.0,642500.0,642500.0,...,813125.0,803125.0,815000.0,834250.0,846750.0,852500.0,870000.0,890000.0,893750.0,891250.0
3,394463,3,"Chicago, IL",msa,IL,226250.0,236250.0,240750.0,248750.0,248750.0,...,265000.0,260000.0,261500.0,274000.0,290500.0,302000.0,315250.0,318750.0,312500.0,305000.0
4,394514,4,"Dallas, TX",msa,TX,250033.5,254434.5,258604.5,263704.0,261787.0,...,363372.0,355750.0,358500.0,367730.0,376102.5,385872.5,393500.0,394662.5,390320.5,384158.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
781,786257,914,"Fairmont, MN",msa,MN,NaN,NaN,NaN,NaN,NaN,...,127875.0,115500.0,119250.0,133750.0,133750.0,153750.0,170000.0,162450.0,141450.0,180250.0
782,394805,916,"Los Alamos, NM",msa,NM,315071.0,310142.0,298071.0,289500.0,341250.0,...,459765.5,499332.5,574417.0,560350.0,533250.0,598485.5,568719.0,490724.0,522567.5,568631.5
783,395112,922,"Spirit Lake, IA",msa,IA,NaN,NaN,NaN,NaN,NaN,...,246625.0,295625.0,334250.0,244250.0,269250.0,361750.0,409375.0,376875.0,387500.0,448750.0
784,395111,928,"Spencer, IA",msa,IA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,197850.0,162725.0,159875.0,157564.0,150313.5,166000.0,190250.0
785,753874,937,"Craig, CO",msa,CO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,226587.5,257350.0,247350.0,264950.0,298950.0,289000.0,287500.0

In [86]:
df2.to_csv('./metro_median_sale_transformed.csv')

# metro listing cut df

In [87]:
df3 = pd.read_csv('./metro_share_listings_price_cut.csv')

In [88]:
df3

,RegionID,SizeRank,RegionName,RegionType,StateName,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,...,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31
0,102001,0,United States,country,NaN,0.146670,0.151549,0.166976,0.180623,0.196898,...,0.210715,0.190024,0.193619,0.179547,0.183911,0.191277,0.206378,0.219896,0.230039,0.241366
1,394913,1,"New York, NY",msa,NY,0.120111,0.128204,0.148470,0.168090,0.179009,...,0.129337,0.114122,0.122684,0.114139,0.121972,0.125966,0.129401,0.125604,0.128543,0.138934
2,753899,2,"Los Angeles, CA",msa,CA,0.147420,0.154235,0.175064,0.191660,0.210074,...,0.192615,0.164204,0.163139,0.141301,0.138672,0.137707,0.147047,0.159169,0.172026,0.185390
3,394463,3,"Chicago, IL",msa,IL,0.189776,0.205430,0.238655,0.267192,0.289917,...,0.214052,0.186329,0.187661,0.170136,0.172739,0.180905,0.201960,0.220959,0.237999,0.250474
4,394514,4,"Dallas, TX",msa,TX,0.166377,0.169266,0.195221,0.220880,0.252309,...,0.284153,0.252192,0.249439,0.236941,0.246466,0.261398,0.284261,0.309933,0.321548,0.328701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,753929,935,"Zapata, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,0.047883,0.094615,0.101553,0.099651,0.068056,0.061809,0.045318,0.031949,0.052584,0.054636
924,394743,936,"Ketchikan, AK",msa,AK,0.095288,0.106557,0.108315,0.100604,0.112869,...,0.077403,0.041689,0.036770,0.071572,0.090496,0.127669,0.121603,0.133091,0.122345,0.109893
925,753874,937,"Craig, CO",msa,CO,0.061116,0.074036,0.117014,0.149170,0.176029,...,0.073608,0.066696,0.061084,0.098453,0.149467,0.214664,0.264164,0.265925,0.276037,0.242078
926,395188,938,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,0.089053,0.069212,0.060665,0.071937,0.082038,0.099607,0.131089,0.184119,0.204127,0.191863
927,394767,939,"Lamesa, TX",msa,TX,0.101107,0.142437,0.169818,0.181347,0.162597,...,0.113992,0.178818,0.217779,0.196543,0.215380,0.211339,0.232576,0.193519,0.223148,0.245709

In [89]:
df3.columns = df3.columns.str.replace('-','_')

In [92]:
df3.columns[5:]

Index(['2018_03_31', '2018_04_30', '2018_05_31', '2018_06_30', '2018_07_31',
       '2018_08_31', '2018_09_30', '2018_10_31', '2018_11_30', '2018_12_31',
       '2019_01_31', '2019_02_28', '2019_03_31', '2019_04_30', '2019_05_31',
       '2019_06_30', '2019_07_31', '2019_08_31', '2019_09_30', '2019_10_31',
       '2019_11_30', '2019_12_31', '2020_01_31', '2020_02_29', '2020_03_31',
       '2020_04_30', '2020_05_31', '2020_06_30', '2020_07_31', '2020_08_31',
       '2020_09_30', '2020_10_31', '2020_11_30', '2020_12_31', '2021_01_31',
       '2021_02_28', '2021_03_31', '2021_04_30', '2021_05_31', '2021_06_30',
       '2021_07_31', '2021_08_31', '2021_09_30', '2021_10_31', '2021_11_30',
       '2021_12_31', '2022_01_31', '2022_02_28', '2022_03_31', '2022_04_30',
       '2022_05_31', '2022_06_30', '2022_07_31', '2022_08_31', '2022_09_30',
       '2022_10_31', '2022_11_30', '2022_12_31', '2023_01_31', '2023_02_28',
       '2023_03_31', '2023_04_30', '2023_05_31', '2023_06_30', '2023_07_31',
       '2023_08_31', '2023_09_30', '2023_10_31'],
      dtype='object')

In [93]:
df3.columns = ['date_'+str(col) 
                if col in df3.columns[5:] 
                else col for col in df3.columns]

In [94]:
df3

,RegionID,SizeRank,RegionName,RegionType,StateName,date_2018_03_31,date_2018_04_30,date_2018_05_31,date_2018_06_30,date_2018_07_31,...,date_2023_01_31,date_2023_02_28,date_2023_03_31,date_2023_04_30,date_2023_05_31,date_2023_06_30,date_2023_07_31,date_2023_08_31,date_2023_09_30,date_2023_10_31
0,102001,0,United States,country,NaN,0.146670,0.151549,0.166976,0.180623,0.196898,...,0.210715,0.190024,0.193619,0.179547,0.183911,0.191277,0.206378,0.219896,0.230039,0.241366
1,394913,1,"New York, NY",msa,NY,0.120111,0.128204,0.148470,0.168090,0.179009,...,0.129337,0.114122,0.122684,0.114139,0.121972,0.125966,0.129401,0.125604,0.128543,0.138934
2,753899,2,"Los Angeles, CA",msa,CA,0.147420,0.154235,0.175064,0.191660,0.210074,...,0.192615,0.164204,0.163139,0.141301,0.138672,0.137707,0.147047,0.159169,0.172026,0.185390
3,394463,3,"Chicago, IL",msa,IL,0.189776,0.205430,0.238655,0.267192,0.289917,...,0.214052,0.186329,0.187661,0.170136,0.172739,0.180905,0.201960,0.220959,0.237999,0.250474
4,394514,4,"Dallas, TX",msa,TX,0.166377,0.169266,0.195221,0.220880,0.252309,...,0.284153,0.252192,0.249439,0.236941,0.246466,0.261398,0.284261,0.309933,0.321548,0.328701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,753929,935,"Zapata, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,0.047883,0.094615,0.101553,0.099651,0.068056,0.061809,0.045318,0.031949,0.052584,0.054636
924,394743,936,"Ketchikan, AK",msa,AK,0.095288,0.106557,0.108315,0.100604,0.112869,...,0.077403,0.041689,0.036770,0.071572,0.090496,0.127669,0.121603,0.133091,0.122345,0.109893
925,753874,937,"Craig, CO",msa,CO,0.061116,0.074036,0.117014,0.149170,0.176029,...,0.073608,0.066696,0.061084,0.098453,0.149467,0.214664,0.264164,0.265925,0.276037,0.242078
926,395188,938,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,0.089053,0.069212,0.060665,0.071937,0.082038,0.099607,0.131089,0.184119,0.204127,0.191863
927,394767,939,"Lamesa, TX",msa,TX,0.101107,0.142437,0.169818,0.181347,0.162597,...,0.113992,0.178818,0.217779,0.196543,0.215380,0.211339,0.232576,0.193519,0.223148,0.245709

In [95]:
df3.to_csv('./metro_share_listings_price_cut_transformed.csv')

# metro zori df

In [97]:
df4 = pd.read_csv('./metro_zori.csv')

In [98]:
df4

,RegionID,SizeRank,RegionName,RegionType,StateName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31
0,102001,0,United States,country,NaN,1258.829246,1265.589842,1274.604961,1284.582431,1294.436165,...,1944.174094,1950.818843,1959.828832,1970.745557,1983.189448,1994.070903,2004.103710,2010.361382,2013.132372,2011.224715
1,394913,1,"New York, NY",msa,NY,2369.677360,2385.556272,2403.633122,2426.024982,2442.095992,...,3113.490723,3128.052227,3153.957895,3190.494579,3230.605612,3267.742001,3291.954319,3300.851119,3299.062375,3282.753131
2,753899,2,"Los Angeles, CA",msa,CA,1874.902698,1886.461962,1901.646902,1915.772142,1930.820309,...,2884.393939,2892.249293,2901.978248,2916.945055,2924.102850,2934.942932,2948.572688,2961.198543,2965.719256,2962.702328
3,394463,3,"Chicago, IL",msa,IL,1399.490422,1406.984261,1417.888874,1427.527483,1438.368768,...,1843.681256,1856.110235,1869.478331,1885.475161,1908.017114,1928.247266,1940.575016,1947.953010,1946.523452,1939.172127
4,394514,4,"Dallas, TX",msa,TX,1125.269027,1130.741988,1138.718751,1149.772703,1160.036742,...,1773.147521,1776.881432,1783.437635,1787.041334,1793.412129,1801.758710,1810.243875,1812.496140,1808.404169,1802.510194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,394687,875,"Hood River, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2246.559590,2305.610445,2319.595987,2178.457666,2216.111111
596,394868,878,"Mitchell, SD",msa,SD,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,850.000000
597,395198,882,"Wahpeton, ND",msa,ND,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,783.000000
598,394718,892,"Jamestown, ND",msa,ND,NaN,NaN,NaN,NaN,NaN,...,806.690475,830.880283,846.729506,873.363862,877.298386,877.131857,881.236852,871.617354,894.072429,894.944444
599,394996,915,"Portales, NM",msa,NM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1036.648456,1026.273308,1026.315866,1008.896337,1018.906318,995.370370

In [99]:
df4.columns = df4.columns.str.replace('-','_')

In [102]:
df4.columns[5:]

Index(['2015_01_31', '2015_02_28', '2015_03_31', '2015_04_30', '2015_05_31',
       '2015_06_30', '2015_07_31', '2015_08_31', '2015_09_30', '2015_10_31',
       ...
       '2023_01_31', '2023_02_28', '2023_03_31', '2023_04_30', '2023_05_31',
       '2023_06_30', '2023_07_31', '2023_08_31', '2023_09_30', '2023_10_31'],
      dtype='object', length=106)

In [103]:
df4.columns = ['date_'+str(col) 
                if col in df4.columns[5:] 
                else col for col in df4.columns]

In [107]:
df4 = df4[columns]

In [125]:
df4

,RegionID,SizeRank,RegionName,RegionType,StateName,date_2018_03_31,date_2018_04_30,date_2018_05_31,date_2018_06_30,date_2018_07_31,...,date_2023_01_31,date_2023_02_28,date_2023_03_31,date_2023_04_30,date_2023_05_31,date_2023_06_30,date_2023_07_31,date_2023_08_31,date_2023_09_30,date_2023_10_31
0,102001,0,United States,country,NaN,1439.118278,1449.259355,1458.047410,1465.862856,1471.422136,...,1944.174094,1950.818843,1959.828832,1970.745557,1983.189448,1994.070903,2004.103710,2010.361382,2013.132372,2011.224715
1,394913,1,"New York, NY",msa,NY,2548.978635,2569.804086,2588.396962,2606.786619,2619.282655,...,3113.490723,3128.052227,3153.957895,3190.494579,3230.605612,3267.742001,3291.954319,3300.851119,3299.062375,3282.753131
2,753899,2,"Los Angeles, CA",msa,CA,2249.359146,2260.672678,2270.307416,2281.855442,2291.697851,...,2884.393939,2892.249293,2901.978248,2916.945055,2924.102850,2934.942932,2948.572688,2961.198543,2965.719256,2962.702328
3,394463,3,"Chicago, IL",msa,IL,1533.990904,1544.856528,1554.722175,1563.026442,1566.640037,...,1843.681256,1856.110235,1869.478331,1885.475161,1908.017114,1928.247266,1940.575016,1947.953010,1946.523452,1939.172127
4,394514,4,"Dallas, TX",msa,TX,1312.708969,1319.939858,1324.760179,1333.057704,1337.326532,...,1773.147521,1776.881432,1783.437635,1787.041334,1793.412129,1801.758710,1810.243875,1812.496140,1808.404169,1802.510194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,394687,875,"Hood River, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2246.559590,2305.610445,2319.595987,2178.457666,2216.111111
596,394868,878,"Mitchell, SD",msa,SD,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,850.000000
597,395198,882,"Wahpeton, ND",msa,ND,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,783.000000
598,394718,892,"Jamestown, ND",msa,ND,NaN,NaN,NaN,NaN,NaN,...,806.690475,830.880283,846.729506,873.363862,877.298386,877.131857,881.236852,871.617354,894.072429,894.944444
599,394996,915,"Portales, NM",msa,NM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1036.648456,1026.273308,1026.315866,1008.896337,1018.906318,995.370370

In [109]:
df4.to_csv('./metro_zori_transformed.csv')